# Sudoku Game


The rules of sudoku state that each row, column, and nonant must contain unique symbols; typically, the numbers 1 through 9.

Through deduction and abstract reasoning, the player must fill in the blank spaces using logic based on the pre-populated symbols in the grid.

The goal of this project is to create the basis for the game of sudoku in Python:
    - viewable as a grid
    - 



Secondarily, I'd like to examine the following potentials:

    - solve all existing game boards (that are solvable with human logic)
    - qualify the methodology by which players are able to solve the game:
        - using abstract reasoning across the whole game board
        - define techniques?
        
As well as:
    - be able to quantify the difficulty of a given game state

## Implementation Details
- Each cell 'eliminates' the others in their respective row, column, and nonant when the value is imputed
- grid.solve() function should imply the solve, for solvable boards

In [1]:
from src.grids import hard_game
from src.sudoku_grid import  SudokuGrid

In [2]:
a = SudokuGrid(show_steps=False)

hard_game(a)

# print(a.total_trues)

a.show_grid

In [3]:
a.show_steps=True
a.solve()

Solving cell (1, 1) with 1.

Solving cell (1, 4) with 3.

Solving cell (1, 9) with 2.

Solving cell (2, 4) with 2.

Solving cell (2, 5) with 9.

Solving cell (2, 8) with 8.

Solving cell (3, 5) with 5.

Solving cell (4, 5) with 6.

Solving cell (4, 9) with 3.

Solving cell (5, 7) with 2.

Solving cell (6, 3) with 3.

Solving cell (8, 8) with 6.

Solving cell (9, 4) with 4.

Solving cell (1, 3) with 8.

Solving cell (1, 8) with 5.

Solving cell (2, 2) with 5.

Solving cell (3, 3) with 6.

Solving cell (3, 4) with 8.

Solving cell (3, 7) with 7.

Solving cell (4, 7) with 8.

Solving cell (6, 1) with 6.

Solving cell (6, 4) with 1.

Solving cell (6, 8) with 4.

Solving cell (6, 9) with 7.

Solving cell (7, 7) with 9.

Solving cell (8, 5) with 1.

Solving cell (8, 7) with 4.

Solving cell (9, 8) with 7.

Solving cell (9, 9) with 1.

Solving cell (1, 2) with 7.

Solving cell (3, 1) with 9.

Solving cell (4, 1) with 5.

Solving cell (4, 4) with 7.

Solving cell (4, 8) with 9.

Solving cell (5, 2) with 9.

Solving cell (5, 3) with 7.

Solving cell (5, 8) with 1.

Solving cell (6, 7) with 5.

Solving cell (7, 2) with 4.

Solving cell (7, 5) with 7.

Solving cell (7, 6) with 3.

Solving cell (7, 9) with 5.

Solving cell (8, 1) with 7.

Solving cell (8, 2) with 3.

Solving cell (8, 6) with 2.

Solving cell (9, 1) with 2.

Solving cell (9, 3) with 9.

Solving cell (9, 6) with 5.

Solving cell (5, 5) with 3.

Solving cell (5, 6) with 8.

Solving cell (7, 1) with 8.

Solving cell (8, 3) with 5.

Solving cell (9, 5) with 8.